header{
  padding: 12px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #e4e4e4;

  .logo{
    span{
      background-color: white;
      border-radius: 15px;
      padding: 7px 20px;
      margin-left: 10px;
        }
    }

  a{
    color: black;
    }

  nav{
    width: 75%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #e4e4e4;
    z-index:999;

    a{
      width: 85%;
      margin: 0 auto;
      display: block;
      text-decoration: none;

      &:first-of-type{
        margin-top: 80px;
        }

      &:not(:last-of-type){
          margin-bottom: 20px;
        }

      &::before{
          content: "- ";
        }
      }

    button{
      position: absolute;
      top: 15px;
      right:15px;
      }
    }

  .showNav{
    text-align: right;
    button{
      margin-right: 10px;
      }
    }
  }
