div{
    h1{
      color: darkred;
      font-size: 50px;
      }
  }

h2{
  color: purple;
  }

#contenedor-uno{
  span{
      font-weight: 600;
    }
    p{
      color: darkblue;
      }
  }

#contenedor-dos{
    p{
      color: darkgreen;
      }
  }
