.contenedor-pokemon{
  width: 100%;
  margin: 30px auto 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px 25px;

  div {
     border-radius: 10px;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 10px 15px;
        position: relative;
  }

.pokemon{
  padding: 5px;
  text-align: center;

  }

  h2, p{
    text-align: center;
    margin-bottom: 10px;
  }

    img{
      width: 100%;
      height: auto;
      max-width: 200px;
      margin: 0 auto;
    }

  button{
      display: block;
      margin: 10px auto;
    }
  }
